* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'gabarito;', sans-serif;

}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 2px;
    gap: 10px;
    align-items: center;
}

.navbar__section1__title {
    color: #A435F0
}

.navbar__section2 {
    padding: 10px;
    border: solid black 1.5px;
    border-radius: 32px;
    width: 70%;
    display: flex;
    gap: 10px;
    font-size: 17px;
    align-items: center;
}
.navbar__section2 input {
    border: none;
    width: 100%;
    align-items: center;
}
.navbar__section2 input:focus {
    outline: none;
}
.navbar__section3 {
    display: flex;
    gap:10px;
    align-items: center;
}
.categories {
    display: flex;
    padding: 10px;
    border-bottom: solid black 2px;
    justify-content: space-around;
}
.categories p {
    background-color: #A435F0;
    color: white;
    border-radius: 30px;
    padding: 7px;
}
.sale-image img{
    width: 100%;
}
.recomended {
    padding: 10px;
}
.recomended__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}
.course-card {
    width: 300px;
    height: 250px;
}
.course-card img {  
    width: 90%;
    height: 80%;
}

.topics {
    margin-top: 45px;
    margin-left: 5px;
    padding: 20px;
}
.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p {
    padding: 10px;
    border: solid grey 2px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular {
    margin-top: 40px;
    margin-left: 5px;
    padding: 20px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    column-gap: 15px;
    row-gap: 45px;
}
.footer {
    margin-top: 70px;
    padding: 20px;
    background-color: black;
    color: white
}

.footer__one {
    display: flex;
}
.footer__one p {
    margin: 20px;
    gap: 10px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}